@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Cabin;
}

body {
  background-color: #FAFAFA;
  text-align: center;
  background: #e0e5ec;
}

ul {
  display: flex;
  column-gap: 1em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #350baa;
}

a:hover {
  color: #1e0071;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 430px;
  /* position: relative; */
  box-shadow:
      -7px -7px 20px 0px #fff9,
      -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001,
      inset 0px 0px 0px 0px #fff9,
      inset 0px 0px 0px 0px #0001,
      inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
  border-radius: 10px;
}

h1 {
  padding-bottom: 0.5em;
}

.container {
  padding: 1em 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 0;
  border: none;
  background-color: black;
  cursor: pointer;
}
button {
  display: block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
}

.subtitle {
  padding-bottom: 1em;
}

.score {
  padding: 0.5em;
  margin-top: 1em;
  background-color: #effdff;
  width: 400px;
  border-radius: 6px;
}

.buttons {
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  column-gap: 2em;
}

.option-header {
  padding-bottom: 0.2em;
}

select {
  min-width: 7em;
  padding: 0.3em 0.5em;
  border: none;
}