body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

  label.title {
    font-weight: bold;
  }

  #tool-box {
    border: 2px solid black;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    .btn, .end-polygon {
      background: none;
      cursor: pointer;
      height: 2em;
      &:hover {
        opacity: 0.8;
      }
    }

    .end-polygon {
      display: none;
    }

    .end-polygon.show {
      display: inline-block;
    }

    #color-picker {
      display: flex;
      gap: 0.2em;
      option {
        display: inline-block;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }

        &.chosen {
          border-width: 3px;
        }
      }
    }

    #line-size {
      option {
        display: inline-block;
        border: 1px solid black;
        width: 2em;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        &.chosen,
        &:hover {
          background: black;
          color: white;
        }
      }
    }

    #shape-picker {
      display: flex;
      gap: .5em;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }

        &.chosen {
          border-width: 3px;
        }

        // reference: https://css-tricks.com/the-shapes-of-css/
        .line {
          border: 2px solid red;
          height: 0;
        }

        .triangle {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid red;
        }

        .square {
          width: 20px;
          height: 20px;
          background: red;
        }

        .pentagon {
          margin-top: 5px;
          font-size: .2px;
          position: relative;
          width: 54em;
          box-sizing: content-box;
          border-width: 50em 18em 0;
          border-style: solid;
          border-color: red transparent;

          &:before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: -85em;
            left: -18em;
            border-width: 0 45em 35em;
            border-style: solid;
            border-color: transparent transparent red;
          }
        }

        .polygon {
          font-size: 0.17em;
          border-bottom: 6.25em solid red;
          border-left: 1.5625em solid transparent;
          border-right: 1.5625em solid transparent;
          height: 0;
          width: 6.25em;
        }
      }
    }
  }
}
